include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include QUICKSTART.md
include INSTALL.yml
include requirements.txt
include Makefile
include install.sh

recursive-include oracledba/scripts *.sh
recursive-include oracledba/scripts *.sql
recursive-include oracledba/configs *.yml
recursive-include oracledba/configs *.yaml
recursive-include oracledba/templates *.j2
recursive-include oracledba/templates *.sql

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
